In [20]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [21]:
LABEL = 'Price'

floats = ['location.latitude', 'location.longitude', 'bedrooms', 'bathrooms',
          'nearestStation','nearestTram','nearestUnderground','nearestOverground',
          ]

categories = ['tenure.tenureType',
              'analyticsProperty.soldSTC',
              'analyticsProperty.preOwned',
              'sharedOwnership.sharedOwnership',
              'analyticsProperty.propertyType',  # 'propertyType',
               'analyticsProperty.propertySubType',
               'borough',
              ]

In [22]:
def get_source_dataframe():
    df = pd.read_csv('../data/source/df_listings.csv', on_bad_lines='skip', index_col=0)
    return df


def create_train_test_data(df, return_index=False, drop_nulls=True):

    if drop_nulls:
        df.dropna(inplace=True)

    if return_index:
        df.reset_index(inplace=True)

    for column in categories:
        df = pd.concat([df, pd.get_dummies(df[column], prefix=column)], axis=1)
        df.drop([column], axis=1, inplace=True)  # now drop the original column (you don't need it anymore),

    features = df[df.columns[1:]].values
    labels = df[LABEL].values

    if not return_index:
        return train_test_split(features, labels, train_size=0.7, random_state=1)
    else:
        X_train1, X_test1, y_train1, y_test1 = train_test_split(features, labels, train_size=0.7, random_state=1)
        y_train_index = y_train1[0]
        X_test_index = X_test1[0]
        y_test_index = y_test1[0]
        X_train1 = X_train1[1:]
        y_train1 = y_train1[1:]
        X_test1 = X_test1[1:]
        y_test1 = y_test1[1:]
        return X_train1, X_test1, y_train1, y_test1, X_train_index, y_train_index, X_test_index, y_test_index

In [23]:
df = get_source_dataframe()
df[:5]

,Price,location.latitude,location.longitude,bedrooms,bathrooms,nearestStation,nearestTram,nearestUnderground,nearestOverground,tenure.tenureType,analyticsProperty.soldSTC,analyticsProperty.preOwned,sharedOwnership.sharedOwnership,analyticsProperty.propertyType,analyticsProperty.propertySubType,borough
118724369,300000,51.525420,-0.025550,2.0,1.0,0.248561,99.0,0.250008,0.248561,LEASEHOLD,False,Resale,False,Flats / Apartments,Flat,Tower Hamlets
85679226,470000,51.390220,0.035128,2.0,1.0,0.806354,99.0,99.000000,0.806354,FREEHOLD,True,Resale,False,Houses,Semi-Detached,Bromley
116404187,350000,51.545670,0.017950,2.0,1.0,0.369106,99.0,99.000000,0.369106,LEASEHOLD,False,Resale,False,Flats / Apartments,Flat,Newham
119674625,565000,51.523534,-0.335355,3.0,1.0,0.138552,99.0,99.000000,0.138552,NaN,False,Resale,False,Houses,End of Terrace,Ealing
80244735,375000,51.519370,-0.441800,2.0,2.0,1.447235,99.0,2.407297,1.447235,LEASEHOLD,False,New Home,False,Flats / Apartments,Apartment,Hillingdon

In [24]:
#X_train, X_test, y_train, y_test = create_train_test_data(df, drop_nulls=True)
X_train, X_test, y_train, y_test, X_train_index, X_test_index, y_train_index, y_test_index = create_train_test_data(df, return_index=True, drop_nulls=True)

NameError: name 'X_train_index' is not defined

In [ ]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

In [ ]:
result = model.predict(X_test)

In [ ]:
print(result)

In [ ]:
from pandas import DataFrame

compare = np.vstack((result, y_test)).transpose()
compare_df = DataFrame(compare, columns=['actual','predicted'])
compare_df

In [ ]:
model.score(X_test, y_test)